<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Robot</h1>
    <div id="game-map" class="game-map">
        <div class="map-row">
            {{#each cells}}
            <div class="map-cell">{{icon}}</div>
            {{/each}}
        </div>
    </div>
    <form method="post" action="/games">
        <input type="number" name="move" /><br />
        <input type="submit" />
    </form>
</body>

</html>